# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.log
*.nav
*.out
*.snm
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.dvi

# Editor backup files
*~
*.swp
*.bak
*.backup
*.tmp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?